@import "tailwindcss";

/* Custom Tailwind below */

@theme {
  --color-custom-blue-1: #c2dcff;
  --color-custom-blue-2: #2454b6;
  --color-custom-blue-3: #082c80;

  --color-custom-yellow-1: #efedee;
  --color-custom-yellow-2: #fff2d7;
  --color-custom-yellow-3: #ffd147;

  --color-custom-red-text: #FF4F4F;
  --color-custom-red-bg: #FFEDED;

  --color-custom-green-text: #00B69B;
  --color-custom-green-bg: rgba(0, 182, 155, 0.2);
  --color-custom-green-dark-bg: #000C06;

  --color-custom-white: #FFFFFF;
  --color-custom-gray: #5E6670;
  --color-custom-black: #202224;
}